@import url("https://fonts.googleapis.com/css2?family=Allura&family=Niconne&family=Sacramento&family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}

body {
    padding: 0px 15%;
    background-color: #dedbd2;
}

#name-logo {
    display: flex;
    flex-direction: column;
    /* padding: 20px 0px; */
    justify-content: center;
    align-items: center;
}

#name-logo h1 {
    font-family: "Sacramento", cursive;
    font-size: 6em;
    color: #45305f;
    height: 100px;
}

#welcome-logo {
    margin: 20px 0px 0px 0px;
}

#welcome-tag {
    text-align: center;
    font-size: 2em;
    color: white;
}

#agree-check {
    width: 30px;
    align-self: center;
}

.appTop {
    background-image: url(/home-background-1.jpg);
    background-size: cover;
    height: 500px;
}

#brand {
    position: absolute;
    top: 80px;
    left: 520px;
}

.brand-name {
    text-align: center;
    font-family: "Sacramento", cursive;
    color: #087e8b;
    font-size: 8em;
    text-shadow: 5px 5px #45305f;
}

#navbar {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    width: 200px;
}

.navlinks {
    text-decoration: none;
    background-color: #45305f;
    color: #dedbd2;
    margin: 10px;
    font-size: 1.2em;
    height: 35px;
    border: 2px solid #087e8b;
    border-radius: 0px 30px 30px 0px;
    padding: 0px 20px;
    position: relative;
    left: -10px;
}

.navlinks:hover {
    background-color: #087e8b;
    transition: all 500ms ease;
}

#greet-profile {
    display: flex;
}

#greetuser {
    padding: 15px 5px;
    color: #dedbd2;
    text-shadow: 2px 2px #087e8b;
}

#regForm,
#loginForm,
#resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#regForm input,
#loginForm input,
#resetForm input {
    border-radius: 20px;
}

textarea,
input {
    color: #087e8b;
    font-size: 1.5em;
}

input {
    text-align: center;
    width: 500px;
    border: none;
    margin: 5px;
}

#logo {
    width: 60px;
    margin: 10px;
    background-color: #dedbd2;
    padding: 2px;
}

button {
    background-color: #087e8b;
    color: #dedbd2;
    font-size: 1.5em;
    border: 2px solid #45305f;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
}

button:hover {
    background-color: #b23a48;
    transition: all 500ms ease;
}

img {
    object-fit: cover;
}

.smallppic {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 2px solid #087e8b;
    border-radius: 5px;
}

.largeppic {
    width: 250px;
    height: 250px;
    /* object-fit: cover; */
    border: 5px solid #45305f;
}

#food-types {
    display: flex;
    justify-content: space-evenly;
    background-color: #087e8b;
}

.food-types-img {
    width: 300px;
    height: 300px;
    margin: 20px 10px 0px 10px;
    border-radius: 20px;
    filter: brightness(30%);
}

.food-types-img:hover {
    filter: none;
}

.food-types-links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-types-p {
    font-size: 1.5em;
    color: #dedbd2;
    margin: 5px 0px;
}

.food-type-h1 {
    font-family: "Sacramento", cursive;
    font-size: 3.5em;
    margin: 5px;
    height: 60px;
    color: #45305f;
}

.food-img-small {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #b23a48;
}

.food-list {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 20px 0px 0px 0px;
    background-color: #dedbd2;
    border-radius: 30px;
}

.food-list h2 {
    margin: 0px 10px;
    color: #45305f;
}

#food-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #087e8b;
    height: 500px;
}

#back-foodtypes-link {
    width: 100%;
    text-align: right;
    height: 50px;
}
#back-foodtypes-link a {
    text-decoration: none;
    font-size: 1.5em;
    color: #b23a48;
    border: 2px solid #b23a48;
    padding: 0px 10px;
    position: relative;
    top: 5px;
}

#food-details {
    /* border: 2px solid black; */
    width: 900px;
    height: 500px;
    background-color: #dedbd2;
    border: 5px solid #45305f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#food-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    left: 0vw;
    width: 100%;
    height: 100%;
}

#food-details-img {
    width: 350px;
    height: 350px;
}

#details-img-info {
    display: flex;
    margin: 20px;
}

#details-info {
    margin: 20px;
    color: #45305f;
    width: 510px;
}

#details-info h1 {
    text-align: right;
}

#food-name {
    font-family: "Sacramento", cursive;
    font-size: 4em;
    /* width: 100%; */
}

#details-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-buttons * {
    width: 60px;
    height: 60px;
    font-size: 2em;
}

#add-cart-button {
    align-self: center;
    width: 96%;
    height: 50px;
}

.order-info,
.food-info-cart {
    display: flex;
    align-items: center;
    border: 2px solid #45305f;
    margin: 5px;
}

.order-info p,
.food-info-cart p {
    font-size: 1.5em;
    width: 85%;
}

.orders-cart-buttons {
    font-size: 1.2em;
    width: 100px;
}

#orders h2,
#profile h1,
#profile-editor h2,
#cart-items-container h2,
#full-chat h2,
#findCustomers h2 {
    font-family: "Sacramento", cursive;
    font-size: 3.5em;
    color: #45305f;
}

#profile-editor h2 {
    height: 60px;
}

#orders-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 5px solid #45305f;
    border-radius: 10px;
    margin: 20px 0px;
}

.order-item * {
    margin: 10px;
}

.order-item {
    display: flex;
    margin: 5px;
    align-items: center;
    width: 600px;
    font-size: 1.5em;
}

#ppic-with-editor {
    display: flex;
    justify-content: center;
}

#profile-editor {
    margin: 10px;
}

.profile-text {
    font-size: 1.5em;
    margin: 10px 0px 0px 0px;
}

#del-profile-button {
    width: 100%;
    margin: 0 auto;
}

.profile-text-area {
    display: flex;
    flex-direction: column;
}

.profile-texteditor {
    outline: none;
    resize: none;
}

#del-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#del-confirmer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 550px;
    height: 250px;
    color: #dedbd2;
    background-color: #45305f;
    border: 5px solid darkred;
    border-radius: 10px;
}

#del-confirmer h2 {
    margin: 10px;
}

#del-yes,
#del-no {
    width: 200px;
    align-self: center;
    border: 2px solid #dedbd2;
}

#del-yes:hover {
    background-color: darkred;
}

#del-no:hover {
    background-color: green;
}

#uploaderContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 200px;
    text-align: center;
    background-color: #45305f;
    color: #dedbd2;
    border: 2px solid #dedbd2;
    border-radius: 10px;
}

#closeUploader {
    height: 20px;
    width: 20px;
    align-self: flex-end;
    margin: 10px;
}

#uploader-input {
    border: 1px solid #dedbd2;
}

.userppic {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#chat-container {
    background-color: #087e8b;
    height: 600px;
    width: 500px;
    overflow-y: auto;
    border: 2px solid #45305f;
}

.chat-block {
    display: flex;
    flex-direction: row;
}

.chat-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;
}

.chat-details {
    display: inline-block;
}

.chat-details * {
    color: #dedbd2;
}

#chat-msg-editor {
    width: 500px;
    height: 80px;
    font-size: 1em;
    background-color: #45305f;
    outline: none;
    resize: none;
    color: #dedbd2;
    border: 2px solid white;
}

#full-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.error-msg {
    color: red;
    font-size: 1.5em;
}

#findCustomers {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.find-customer-link {
    text-decoration: none;
}

.customer {
    display: flex;
    align-items: center;
    width: 500px;
    background-color: #087e8b;
    border-radius: 10px;
    margin: 10px;
}

.customer h1 {
    margin: 0px 20px;
    color: #dedbd2;
}
